*{
    margin: 0px;
    padding: 0px;
}
.header {
    background-color: white;
    color: #fff;
    padding: 10px 20px;
}

.header img{
    width: 150px; 
}

.logo-icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
}

.icons {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.icons li {
    margin: 0;
}

.icons li img {
    height: 30px; /* Adjust the size of the icons */
    width: 30px; 
}

             
/* ================== navbar ======================*/
.navbar {
    background-color: rgb(101, 124, 151);
    text-align: center; /* Ensure text-align is center */
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    height: 50px; /* Set a height for the navbar */

    /* do we still need overflow: hidden; here*/
}


.navbar a {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 10px 60px; /* Adjust padding for spacing */
    display: block;
}

.navbar a:hover{            /*can do alot more here for dropdown etc*/
    background-color: rgb(131, 158, 189) ;
}
.navbar li{
    float:left;
}



/* ==================================================== checkout ================================================ */
/* the main container */
.customerdetails{
display: flex;
width: 50%;
padding-left: 100px;
padding-top: 20px;
padding-bottom: 10%;
background-color: white;
}

/* labels */
.customerdetails label{
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgba(58, 80, 114, 1);
    font-size: 25px;
}

.contact{
    padding-bottom: 25px;
}

/* text inside the boxes aka placeholders*/
.customerdetails input::placeholder{
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #878787 ;
    font-size: 18px;
    padding: 20px;
}

/* areas inside the box */
.customerdetails input{
    width: 100%;
    height: 40px;
    display: flex;
    background-color: #EAEAEA;
    border: none;
    border-radius: 4px;

}

/* the size of radio buttons*/
 .delivery-option input{
    width: 20px;
    height: 20px;
 }
 
 /* pick up and ship text */
 .delivery-option label{
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(131, 158, 189) ;
    font-size: 18px;
    padding-left: 10px;
 }

.delivery-options {
    display: flex;
    flex-direction: column;/* Use column direction to stack options vertically */
    padding-bottom: 25px; /*distance between billing address and pick up box */
}

.delivery-option {
    border: 1px solid rgba(101, 124, 151, 1);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

/* billing address */

.payment-section-header{
    padding-top: 25px;

}
.payment-section-header h1, .payment-section-header p{
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgba(58, 80, 114, 1);
    font-size: 25px;
}

.payment-section-header p{
    font-size: 15px;
}

.card-info-container{
    display: flex;
    flex-direction: column;
    height: 290px;
    border: 1px solid #657C97;
    padding: 5%;
    border-radius: 4px;
    background-color: none;
    color: #657C97;
}

.card-info-container p{
    margin-bottom: 2.5%;
    padding-bottom: 2.5%;
    font-size: 20px;
    border-bottom: 1px solid #657C97 ;
}

.card-info-container input{
    padding-bottom: 15px;
    padding-top: 15px;
}

/* pay now button */


.paynow{
    display: flex;
    background-color: rgba(58, 80, 114, 1); /* Change background color to red */
    color: white;
    text-decoration: none;
    font-family: "Neuton", serif;
    font-weight: 400;
    font-size: 25px;
    width: 600px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    margin-top: 30px;
    padding-bottom: 10px;
}

.paynow:hover{
    background-color: #657C97;
}


/* ====================================================== FOOTER =================================================================*/

.footer-container{
    background-color: #657C97;
    padding-top: 20px;
    padding-left: 30px;
    margin-top: px; /* change this if you dont want a gap at the top of the footer (or want a bigger gap)*/
    color: white;
}

.hours-contact{
    display: flex;
}

.footer-container h1, .footer-container h2, .footer-container h3, .delivery-zones h4{
    font-size: 30px;
    font-family: "Neuton", serif;
    font-weight: 500;
    font-style: normal;
}

.footer-container h4{
    padding-top: 60px;
}

.contact-us, .hours, .delivery-zones{
    font-family: "Mukta Vaani", sans-serif;
    font-style: normal;
    font-weight: 300;
    list-style-type: none;
    line-height: 1.8;
    height: auto;
    width: 50%;
    padding-bottom: 60px;
}


hr{
    width: 97%
}

/*socials*/
.socials-icons {
    display: flex;
    justify-content: space-between;
    float: right;
    padding-right: 30px;
    padding-bottom: 30px;
}

.socials-icons .icons {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding-right: 10px;
}

.socials-icons .icons li {
    margin: 0;
}

.socials-icons .icons li img {
    height: 60px; /* Adjust the size of the icons */
    width: 60px; 
}

.footer-container h5{
    text-align: center;
    font-size: 20px;
    font-family: "Mukta Vaani", sans-serif;
    font-style: normal;
    font-weight: 300;
    padding: 30px;
}
