
/* ================================================================= HEADER =================================================================*/
/* HELP D: */



.header {
    background-color: white;
    color: #fff;
    padding: 10px 20px;
}

.header img{
    width: 150px; 
}

.logo-icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
}

.icons {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.icons li {
    margin: 0;
}

.icons li img {
    height: 30px; /* Adjust the size of the icons */
    width: 30px; 
}

             
/* ================== navbar ======================*/

.navbar ul{                               
    list-style-type: none;
    background-color: rgb(101, 124, 151);   
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{            /*can do alot more here for dropdown etc*/
    background-color: rgb(131, 158, 189) ;
}
.navbar li{
    float:left;
}

/* ================== Homepage body ======================*/
/* main image*/

.cover-image{
    width: 1368px;
}