/* ================================================================= HEADER =================================================================*/
*{
    margin: 0px;
    padding: 0px;
}
.header {
    background-color: white;
    color: #fff;
    padding: 10px 20px;
}

.header img{
    width: 150px; 
}

.logo-icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
}

.icons {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.icons li {
    margin: 0;
}

.icons li img {
    height: 30px; /* Adjust the size of the icons */
    width: 30px; 
}

             
/* ================== navbar ======================*/
.navbar {
    background-color: rgb(101, 124, 151);
    text-align: center; /* Ensure text-align is center */
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    height: 50px; /* Set a height for the navbar */

    /* do we still need overflow: hidden; here*/
}


.navbar a {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 10px 60px; /* Adjust padding for spacing */
    display: block;
}

.navbar a:hover{            /*can do alot more here for dropdown etc*/
    background-color: rgb(131, 158, 189) ;
}
.navbar li{
    float:left;
}

/* =========================================== INTRODUCTION ================================================*/
/*work on this sizing girl*/

.introImage img{
   width: 100vw;
}

.title{
    text-align: center;
    padding-bottom: 30px;
}


/* ============================ DROPDOWN MENU ================================ Just need to center the text on the left ;p */
.dropdown-all{
    display: block;
    color: #657C97;
    background-color: white;
    width: 100%;
    height: 50px;
    border-top: 1px solid #657C97;
    border-bottom: 1px solid #657C97;
    font-size: 25px;

}

 .dropdown-menu{
    display: block;
    position: relative;
    color: #657C97;
    background-color: white;
    border: none;
    font-size: 25px;
    float: right;
    padding-right: 10%;
 }

 .item-count{
    display: inline-block;
    padding-top: 10px;
 }

.dropdown-menu button{
    color: #657C97;
    width: 250px;
    background-color: white;
    border: none;
    border-left: 1px solid #657C97;
    border-right: 1px solid #657C97;
    font-size: 25px;
    height: 50px;
    cursor: pointer;
    z-index: 900;
}

.dropdown-menu a{
    display: block;
    text-decoration: none;
    color: #657C97;
    background-color: white;
    border: 1px solid #657C97;
    border-top: none;
    font-size: 25px;
    padding: 15px 25px 15px;
    cursor: pointer;
}

.dropdown-menu .content{
    display: none;
    position: relative;
    position: absolute;
    background-color: aliceblue;
    width: 250px;
}

.dropdown-menu:hover .content{
    display: block;
    background-color: #e98888;
    z-index: 800;
}

.dropdown-menu a:hover{
    background-color: #ebeef1;
    z-index: 900;
}
/* ============================ PRODUCTS ================================*/

 section{
    padding: 100px 8%;
 }

 .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, auto)); /*edit grid to be 4 per row*/
    align-items: last baseline;
    gap: 3rem;
    text-align: left;
    cursor: pointer;
    padding-top: 3rem;
  
 }

.box{
    padding: 0px, 20px 10px 20px;
    background: transparent;
    box-shadow: none;
    border-radius: 10px;
    position: relative;
    transition: all 0.35s ease;
    font-family: "Mukta Vaani, sans-serif";
    color: #3A5072;
}


.box img{
    width: auto;
    height: 470px;
    border-bottom: 1px solid rgb(101, 124, 151);

}

 .box h2{
    font-size: auto;
    letter-spacing: 1px;
    margin-bottom: 8px;
 
    
 }

 .box h3{
    font-size: auto;
    letter-spacing: 1px;
    margin-bottom: 8px;
    
 }

 .box h4{
    font-size: auto;
    letter-spacing: 1px;
    margin-bottom: 8px;
    
 }

 /* cart icon - optional - only exists so long as .box exists */
 .box .cart img{
    position: absolute;
    top: 1;
    left: 300px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .box:hover{
    transform: translateY(-15px);
    /*also add a white overlay*/
}




/* ====================================================== FOOTER =================================================================*/

.footer-container{
    background-color: #657C97;
    padding-top: 20px;
    padding-left: 30px;
    margin-top: px; /* change this if you dont want a gap at the top of the footer (or want a bigger gap)*/
    color: white;
}

.hours-contact{
    display: flex;
}

.footer-container h1, .footer-container h2, .footer-container h3, .delivery-zones h4{
    font-size: 30px;
    font-family: "Neuton", serif;
    font-weight: 500;
    font-style: normal;
}

.footer-container h4{
    padding-top: 60px;
}

.contact-us, .hours, .delivery-zones{
    font-family: "Mukta Vaani", sans-serif;
    font-style: normal;
    font-weight: 300;
    list-style-type: none;
    line-height: 1.8;
    height: auto;
    width: 50%;
    padding-bottom: 60px;
}


hr{
    width: 97%
}

/*socials*/
.socials-icons {
    display: flex;
    justify-content: space-between;
    float: right;
    padding-right: 30px;
    padding-bottom: 30px;
}

.socials-icons .icons {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding-right: 10px;
}

.socials-icons .icons li {
    margin: 0;
}

.socials-icons .icons li img {
    height: 60px; /* Adjust the size of the icons */
    width: 60px; 
}

.footer-container h5{
    text-align: center;
    font-size: 20px;
    font-family: "Mukta Vaani", sans-serif;
    font-style: normal;
    font-weight: 300;
    padding: 30px;
}