/* ================================================================= HEADER =================================================================*/

.header {
    background-color: white;
    color: #fff;
    padding: 10px 20px;
}

.header img{
    width: 150px; 
}

.logo-icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
}

.icons {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.icons li {
    margin: 0;
}

.icons li img {
    height: 30px; /* Adjust the size of the icons */
    width: 30px; 
}

             
/* ================== navbar ======================*/
.navbar {
    background-color: rgb(101, 124, 151);
    text-align: center; /* Ensure text-align is center */
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    height: 50px; /* Set a height for the navbar */

    /* do we still need overflow: hidden; here*/
}


.navbar a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    padding: 15px 60px; /* Adjust padding for spacing */
    display: block;
}

.navbar a:hover{            /*can do alot more here for dropdown etc*/
    background-color: rgb(131, 158, 189) ;
}
.navbar li{
    float:left;
}

/* =========================================== INTRODUCTION ================================================*/
/*work on this sizing girl*/

.introImage img{
    margin-top: -16px; /*a bit finnicky, reduces gap between navbar and image, try to find a way it can do it automatically */
    width: 100%;
    height: auto;
}

.title{
    text-align: center;
    padding-bottom: 30px;
}


/* ============================ DROPDOWN MENU ================================*/
/* to do: Fix the allignment on the dropdown menu and the hover only effecting hovered buttons :') */
.dropdownMenu{
    padding: 0px 10px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-top: 2px solid rgb(101, 124, 151);
    border-bottom: 2px solid rgb(101, 124, 151);
}
.dropdown{
    list-style: none;
    background-color: white;
}

.dropdown li{
    display: inline-block;
    position: relative;
    color: rgb(101, 124, 151);
}

.dropdown li a {
    display: block;
    padding: 0px 25px;
    color: rgb(101, 124, 151);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    
    height:50px;
    border-left: 2px solid rgb(101, 124, 151);
    border-right: 2px solid rgb(101, 124, 151);
}
.dropdown li ul.dropdownList li{
    display: block;
    border: 2px solid rgb(101, 124, 151);
}

.dropdown li ul.dropdownList{
    width: 100%;
    background-color: #c7ecff;
    position: absolute;
    z-index: 999;
    display: none;
}

.dropdown li a:hover{
    background: #c7ecff;
}

.dropdown li:hover .dropdownList {
    display: block;
}

/* ============================ PRODUCTS ================================*/

 section{
    padding: 100px 8%;
 }

 .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, auto)); /*edit grid to be 4 per row*/
    align-items: last baseline;
    gap: 3rem;
    text-align: left;
    cursor: pointer;
    padding-top: 3rem;
 }


.box{
    padding: 0px, 20px 10px 20px;
    background: transparent;
    box-shadow: none;
    border-radius: 10px;
    position: relative;
    transition: all 0.35s ease;

}


.box img{
    width: auto;
    height: 470px;
    border-bottom: 1px solid rgb(101, 124, 151);

}

 .box h2{
    font-size: auto;
    letter-spacing: 1px;
    margin-bottom: 8px;
    
 }

 .box h3{
    font-size: auto;
    letter-spacing: 1px;
    margin-bottom: 8px;
    
 }

 .box h4{
    font-size: auto;
    letter-spacing: 1px;
    margin-bottom: 8px;
    
 }

 /* cart icon - optional - only exists so long as .box exists */
 .box .cart img{
    position: absolute;
    top: 1;
    left: 300px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .box:hover{
    transform: translateY(-15px);
    /*also add a white overlay*/
}
