/* ================================================================= HEADER =================================================================*/
*{
    margin: 0px;
    padding: 0px;
}
.header {
    background-color: white;
    color: #fff;
    padding: 10px 20px;
}

.header img{
    width: 100px; 
}

.header img:hover{
    transform: translateY(-2px);
}

.logo-icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
}

.icons {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.icons li {
    margin: 0;
}

.icons li img {
    height: 20px; /* Adjust the size of the icons */
    width: 20px; 
}

.icons a:hover img{
    border-bottom: 2px solid black;
    transform: translateY(-2px);
}

.icons a span:hover {
    text-decoration: underline;
}

/* number of items in cart */
.cart a, .cart a span {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

             
/* ================== navbar ======================*/
.navbar {
    background-color: rgb(101, 124, 151);
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    text-align: center; /* Ensure text-align is center */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Adding a shadow underneath the navbar */
    position: relative;
    z-index: 999;
}

/* toggle bar aka hamburger icon */
.toggle-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.toggle-button .bar {
    width: 20px;
    height: 2px;
    border-radius: 5px;
    background-color: white;
    margin: 3px 0px;
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
}

.nav-links li {
    margin-right: 25px;
    transition: 0.4s ease;
}

.nav-links li a {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 10px 20px; /* Adjust padding for spacing */
    display: block;
}

.nav-links li a:hover {
    background-color: rgb(131, 158, 189);
    color: rgba(58, 80, 114, 1);
    font-weight: 600;
    transform: scale(1.05);
    transition: 0.4s ease;
}
/* smaller screen */
@media screen and (max-width: 800px) {
    .navbar {
        padding: 5px 10px;
        position: relative; 
    }

    .toggle-button {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100vw;
        background-color: rgb(58, 80, 114, 1);
        position: absolute;
        top: 100%; /* Position it just below the navbar */
        left: 0;
    }

    .nav-links li {
        padding: 12px 0px;
    }

    .nav-links.active {
        display: block;
    }
    .navbar {
        padding-right: 20px;
        justify-content: end;
    }
}

/* ====================================================== STOREPAGE 1 =================================================================*/
/*image / background - .container contains everything within the pink section*/
.container{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(101, 124, 151);
    background: rgb(255, 255, 255);
    margin-left: 8%;
    margin-right: 8%;
}

.gallery{
    width: 50%;
    float: left;
}

.gallery img{
    height: auto;
    width: 80%;
}

/* .details contains all the stuff on the right hand side in the white box i need to restyle after fixing titles and classes for js :'( */

.shop-item{
    background: white;
    color: #657C97;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    width: 90%;
    display: flex;
    
    
}

.shop-item-detail{
    width:50%;
}

.shop-item-title{
    color: #3A5072; 
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 150;
    display: flex;
    flex-direction: column;
}

.extra-info{
    color: #3A5072; 
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 150;
    display: flex;
    flex-direction: column;
}

.shop-item-price{
    color:#3A5072;
    font-size: 30px;
    font-weight: 700;
    font-family:'Times New Roman', Times, serif;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.shop-item-message{
    padding-top: 10px;
    font-weight: 0.5;
    font-size: 23px;
    padding-bottom: 30%;
    display: flex;
    flex-direction: column;
}

.line{
    margin-top: 12px;
    border-top:1px solid #657C97;
}

/* custom message form */

.details form{
    font-size: 13px;
    font-weight: 100;
}

.custom-message {
    padding-top: 40px;
    color: #657C97; 
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 150;
    display: flex;
    flex-direction: column;
}

.custom-message input{
    color: #657C97;
    border-radius: 4px;
    border: 1px solid #657C97;
    padding-left: 10px;
    font-size: 18px;
}

/* colour pick section */

.colourselect{
    align-items: center;
    margin-top: 20px;
}

.colourselect p{
    color: #657C97;
    margin-bottom: 20px;
}

.colourselect span{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5%;
    cursor: pointer;
}

.colour-1{
    background: #FFD688;
}

.colour-2{
    background: #8FDEFF; 
}

.colour-3{
    background: #B998FF
}

.colour-4{
    background: #FF75C8
}

.colour-5{
    background: #FF6C6C
}

.colourselect input{
    display: none;
}

.colourselect input:checked +span{
    transform: scale(0.7);
    box-shadow: 0 0 0 5px #fff, 0 0 0 6px #657C97;
}

/* special requests form */

.special-requests {
    padding-top: 40px;
    width: 97%;


}

.special-requests input{
    color: #657C97;
    width:100%;
    height: 80px;
    border-radius: 4px;
    border: 1px solid #657C97;
    padding-left: 10px;
    margin-bottom: 5%;
    outline: none;
}


/* quanity of item */

.quanity-select{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.quantity-select input{
    background: rgb(255, 255, 255);
    border: 1px solid #657C97;
    outline: 0;
    margin-top: 30px;
    padding: 8px 8px 8px 45px;
    width: 20%;
    height: 30%;
    border-radius: 4px;
    font-size: 20px;
}

/* add to cart button*/

.shop-item-button{
    background: #3A5072;
    color: white;
    font-size: 17px;
    padding: 20px;
    border-radius: 4px;
    border: 0px;
    outline: 0px;
    width: 30%;
    height: 60%;
    margin-top: 30px;
    margin-bottom: 50px;
    cursor: pointer;
    
}

.shop-item-button:hover{
    transform: scale(1.05);
    transition: 0.4s ease;
}

/* styling for the buttons */
.cart-number{
    display: flex;
    justify-content: flex-end;
    padding-right: 22.5%;
}


@media screen and (max-width: 800px) {
    .shop-item{
        display: flex;
        flex-direction: column;
    }
    .shop-item-detail{
        width: 100%;
    }
    .gallery{
        align-self: center;
        width:50%;
        height: 20%;
    }
    .cart-number{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .quantity-select{
        margin-left: 45%;
    }

    .shop-item-button{
        width: 300PX;
        margin-left: 20%;
    }

}

/* =================== FOOTER ====================== */
.footer-container {
    background-color: #657C97;
    padding-top: 20px;
    padding-left: 30px;
    margin-top: 0; /* Ensure there's no gap at the top of the footer */
    color: white;
}

.hours-contact {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap within the container */
}

.footer-container h1, .footer-container h2, .footer-container h3, .delivery-zones h4 {
    font-size: 30px;
    font-family: "Neuton", serif;
    font-weight: 500;
    font-style: normal;
}

.footer-container h4 {
    padding-top: 60px;
}

.contact-us, .hours, .delivery-zones {
    font-family: "Mukta Vaani", sans-serif;
    font-style: normal;
    font-weight: 300;
    list-style-type: none;
    line-height: 1.8;
    height: auto;
    width: 100%; /* Ensure elements are responsive */
    padding-bottom: 60px;
}

hr {
    width: 95%; /* Ensure the horizontal line does not cause overflow */
}

/* socials */
.socials-icons {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    padding-bottom: 30px;
}

.socials-icons .icons {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding-right: 10px;
}

.socials-icons .icons li {
    margin: 0;
}

.socials-icons .icons li img {
    height: 60px; /* Adjust the size of the icons */
    width: 60px;
}

.footer-container h5 {
    text-align: center;
    font-size: 20px;
    font-family: "Mukta Vaani", sans-serif;
    font-style: normal;
    font-weight: 300;
    padding: 30px;
}

@media screen and (max-width: 800px) {
    hr{
        align-self: center;
        width:90%;
    }
}
