h1{
    /* add the top bar / icons here*/
}

/* ================================================================= HEADER =================================================================*/
/* HELP D: */
.header img{
    width: 150px; 
}

.header > .logo > img{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 0px;
    padding: 0px;
}
.icons{
    width: 10px;
}

             
/* ================== navbar ======================*/

.navbar ul{                               
    list-style-type: none;
    background-color: rgb(101, 124, 151);   
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{            /*can do alot more here for dropdown etc*/
    background-color: rgb(131, 158, 189) ;
}
.navbar li{
    float:left;
}


















/* the origional code:
.header{

}
nav{
    display: flex;      
    padding: 2% 2%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;   /* size of logo in homepage 
}
.nav-links{      /* the navbar
    flex: 1;
    text-align: right;
    size: 100px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: center; 
}
.nav-links ul li img{    /* targets the nav icons
    width: 30px;
}

/* this is where we start doing the nav bar 

.main-nav {
    width: 100%; /* Ensures the navigation bar spans the full width of the viewport 
    background-color: #6C7A89; /* Background color for the navbar 
    padding: 15px 0; /* Vertical padding 
    display: flex; /* Uses flexbox for layout 
    justify-content: center; /* Centers the nav items horizontally 
* {
    box-sizing: border-box;
}

.main-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the navbar items 
    list-style: none;
}

.main-nav ul li {
    margin: 0 20px; /* Space between navbar items *

.main-nav ul li a {
    text-decoration: none;
    color: white; /* Text color 
    font-size: 18px; /* Font size 
    font-family: Arial, sans-serif; /* Font family 
}

